* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(9, 208, 190, 0.4);
  border-bottom: 3px solid rgba(0, 191, 255, 0.4);
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 0 10px;
  border-radius: 4px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 8px;
  background: rgba(9, 208, 190, 0.4);
  color: #ffffff;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#workspaces button.active {
  background: rgba(0, 191, 255, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#workspaces button:hover {
  background: rgba(0, 191, 255, 0.4);
  color: #000000;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
  background: rgba(9, 208, 190, 0.4);
}

#workspaces button.focused:hover {
  background: rgba(0, 191, 255, 0.4);
  color: #000000;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: rgba(9, 208, 190, 0.4);
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#custom-launcher {
  background-color: rgba(9, 208, 190, 0.4);
  font-size: 18px;
  border: 1px solid rgba(0, 191, 255, 0.4);
  padding: 0 11px 0 5px;
}

#window,
#workspaces {
  margin: 0;
}

#tray {
  background-color: rgba(9, 208, 190, 0.4);
  padding: 5px;
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#tray > .passive {
  -gtk-icon-effect: dim;
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
}

#clock {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
  margin-right: 0;
}

#battery {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#memory {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#disk {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#backlight {
  background-color: rgba(9, 208, 190, 0.4);
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#network {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#network.disconnected {
  background-color: rgba(9, 208, 190, 0.4);
  color: red;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#pulseaudio {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#pulseaudio.muted {
  background-color: rgba(9, 208, 190, 0.4);
  color: red;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#custom-media {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
  margin-right: 0;
}

#custom-media.custom-spotify {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
  margin-right: 0;
}

#custom-media.custom-vlc {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
  margin-right: 0;
}

#custom-power {
  background-color: rgba(9, 208, 190, 0.4);
  font-size: 16px;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#custom-updater {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#temperature {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#temperature.critical {
  background-color: #eb4d4b;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#idle_inhibitor {
  background-color: rgba(9, 208, 190, 0.4);
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#idle_inhibitor.activated {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#language {
  background-color: rgba(9, 208, 190, 0.4);
  color: #000000;
  min-width: 16px;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#keyboard-state {
  background: rgba(9, 208, 190, 0.4);
  color: #000000;
  min-width: 16px;
  border: 1px solid rgba(0, 191, 255, 0.4);
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

